/* <style> */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #8e1212;
    margin: 40px;
}

h1 {
    color: #ffffff;
    text-align: center;
}

div {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
} 

h2 {
    color: #000305;
}
/* </style> */